@model Shared.Catalog[]

<h1>Cataloges</h1>
@if (Model is not null)
{
    if (Model.Any())
    {
        foreach (var catalog in Model)
        {
            <div class="card">
                <div class="card-header">
                    @catalog.Title
                </div>
                <div class="card-body">
                    <h5 class="card-title">@catalog.Title</h5>
                    <p class="card-text">@catalog.Price</p>
                    <a href="#" class="btn btn-primary">Add to card</a>
                </div>
            </div>
        }
    }
}